.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
*.Rproj
.RDataTmp

#Ignore the temp folder
temp/*

#Ignore lock files
*~

#Ignore mac files
.DS_Store

#Ignore key templates
*.numbers

#set index.rmd to be ignored for data dir issues
index.rmd
docs
